body {
  background-color: #333;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#quote-box {
  border-radius: 3px;
  width: 450px;
  max-width: 45vw;
  padding: 40px 50px;
  background-color: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
}

#quote-box .quote-text {
  text-align: center;
  width: 100%;
  height: auto;
  font-weight: 500;
  font-size: 1.3em;
}

#quote-box .quote-text i {
  font-size: 1.2em;
  margin-right: 0.4em;
}

#quote-box .quote-author {
  height: auto;
  padding-top: 20px;
  font-size: 1em;
  text-align: right;
  width: 100%;
}

#quote-box .buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

#quote-box .buttons .button {
  height: 38px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #333;
  outline: none;
  font-size: 0.85em;
  padding: 8px 18px;
  margin: 0 5px;
  opacity: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

#quote-box .buttons .button:hover {
  opacity: 0.9;
}

#quote-box .buttons .button#tweet-quote,
#quote-box .buttons .button#tumblr-quote {
  margin-right: 5px;
  height: 20px;
}

#quote-box .buttons .button#new-quote {
  margin-left: auto;
  margin-right: 0px;
}

@media (max-width: 1000px) {
  #quote-box {
    width: 45vw;
    padding: 4vw 5vw;
  }

  #quote-box .quote-text {
    font-size: 2.8vw;
  }

  #quote-box .quote-author {
    font-size: 1.6vw;
    padding-top: 2vw;
  }
  #quote-box .buttons {
    margin-top: 2vw;
  }

  #quote-box .buttons .button {
    font-size: 1.36vw;
    height: 3.7vw;
    padding: 1vw 1.8vw;
    margin: 0 1vw;
  }

  #quote-box .buttons .button#tweet-quote,
  #quote-box .buttons .button#tumblr-quote {
    font-size: 1.5vw;
    height: 2vw;
    width: 1vw;
    padding-top: 0.8vw;
  }
}
